@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Abonner på avis!!!</h1>
    <p class="lead">Ble med og abonner på avis da kis!</p>
    <p><a href="@Url.Action("NewUser")" class="btn btn-primary btn-lg">Abonner &raquo;</a></p>
</div>
